[submodule "mk_rootfs/buildroot"]
	path = mk_rootfs/buildroot
	url = git@github.com:WHJWNAVY/buildroot.git
	branch = imx280_evk
[submodule "v2020.07-rc4-port-easyarm280"]
	path = u-boot/u-boot-2020.07-rc4
	url = git@github.com:WHJWNAVY/u-boot.git
	branch = v2020.07-rc4-port-easyarm280
